<h2>{{ esEdicion ? 'Editar Cliente' : 'Nuevo Cliente' }}</h2>

<form [formGroup]="clienteForm" (ngSubmit)="guardar()">
  <label>
    Nombre:
    <input formControlName="nombre" />
    <div *ngIf="clienteForm.get('nombre')?.invalid && clienteForm.get('nombre')?.touched" style="color:red;">
      Nombre obligatorio y mínimo 3 caracteres.
    </div>
  </label>

  <label>
    DNI:
    <input formControlName="dni" />
    <div *ngIf="clienteForm.get('dni')?.invalid && clienteForm.get('dni')?.touched" style="color:red;">
      DNI obligatorio.
    </div>
  </label>

  <label>
    Email:
    <input formControlName="email" />
    <div *ngIf="clienteForm.get('email')?.invalid && clienteForm.get('email')?.touched" style="color:red;">
      Email inválido.
    </div>
  </label>

  <label>
    Teléfono:
    <input formControlName="telefono" />
  </label>

  <label>
    Dirección:
    <input formControlName="direccion" />
  </label>

  <button type="submit" [disabled]="clienteForm.invalid">
    {{ esEdicion ? 'Actualizar' : 'Crear' }}
  </button>

  <div *ngIf="error" style="color:red;">{{ error }}</div>
</form>