config:
  target: 'http://localhost:4200'
  phases:
    - duration: 60
      arrivalRate: 10
      name: "Warm up"
    - duration: 120
      arrivalRate: 50
      name: "Sustained load"
    - duration: 60
      arrivalRate: 100
      name: "Peak load"
  plugins:
    expect: {}
  processor: "./processor.js"

scenarios:
  - name: "Health Check"
    flow:
      - get:
          url: "/"
          expect:
            - statusCode: 200
            - contentType: text/html
