<section class="stack-lg" aria-labelledby="bribes-title">
  <div class="table-wrap">
    <table class="table" *ngIf="filtered().length; else empty">
      <!-- Caption oculto para lectores de pantalla -->
      <caption class="sr-only">{{ 'bribes.title' | translate }}</caption>


      <colgroup>
        <col style="width:90px" />
        <col style="width:110px" />
        <col style="width:130px" />
        <col style="width:140px" />
        <col style="width:110px" />
        <col style="width:160px" />
        <col style="width:220px" />
      </colgroup>


      <thead>
        <tr>
          <th scope="col">{{ 'bribes.table.id' | translate }}</th>
          <th scope="col">{{ 'bribes.table.sale' | translate }}</th>
          <th scope="col">{{ 'bribes.table.authority' | translate }}</th>
          <th scope="col">{{ 'bribes.table.amount' | translate }}</th>
          <th scope="col">{{ 'bribes.table.paid' | translate }}</th>
          <th scope="col">{{ 'bribes.table.date' | translate }}</th>
          <th scope="col" class="right">{{ 'bribes.table.actions' | translate }}</th>
        </tr>
      </thead>


      <tbody>
        @for (s of filtered(); track s.id) {
        <tr>
          <td>#{{ s.id }}</td>
          <td>{{ s.sale?.id ?? s.saleId }}</td>
          <td>{{ s.authority?.id ?? s.authorityId }}</td>
          <td>{{ s.amount | currency:'ARS' }}</td>
          <td>{{ s.paid ? ('bribes.yes' | translate) : ('bribes.no' | translate) }}</td>
          <td>{{ s.creationDate | date:'short' }}</td>
          <td class="right">
            <!--
Botón idempotente: deshabilitado si ya está pago.
aria-busy cuando el componente esté en loading (opcional si tenés un flag local por fila).
-->
            <button class="btn success btn-glass" type="button" (click)="markAsPaid(s)" [disabled]="s.paid"
              [attr.aria-disabled]="s.paid ? 'true' : null">
              {{ 'bribes.actions.markPaid' | translate }}
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>


    <ng-template #empty>
      <div class="center muted">{{ 'bribes.empty' | translate }}</div>
    </ng-template>
  </div>
  
</section>